<div>
  <div>
    <label for="username">Username</label>
    <br/>
    <input type="text" name="username" id="username" autofocus>
  </div>

  <div class="">
    <label for="comment">Comment</label><br>
    <textarea name="comment" id="comment" cols="50" rows="8"></textarea>
  </div>

  <div class="actions">
    <button id="submit">Comment</button>
  </div>
</div>