<div class="content">
  <div class="text">
    <h1 align="center">Ruby on Rails</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias doloremque facilis fugiat in modi
      mollitia
      numquam odio, odit, porro qui sint ut voluptatem. A ad beatae ducimus eos ex.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti doloribus enim fugiat id libero maxime
      possimus
      repellat sequi voluptatem. Beatae consectetur minima nesciunt nobis perferendis quaerat, repellat repellendus
      velit!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eius in ipsam quae recusandae veniam! Autem
      dicta
      eligendi esse ipsum, pariatur quae quisquam! Ab animi, fugiat libero optio reiciendis veritatis?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam asperiores cumque, distinctio
      doloremque
      ducimus ex harum iste libero nihil nobis obcaecati velit voluptatum. Cupiditate dolor illum provident
      reprehenderit
      velit.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt libero magnam praesentium quam. Cum cumque
      fuga id ipsum reiciendis. Accusantium, atque culpa distinctio eius illo neque rem repellat veniam!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolor ipsa nesciunt praesentium quidem quos similique. Accusantium asperiores excepturi facere ipsum nam numquam praesentium recusandae similique sit, ullam voluptate voluptatum?
    </p>
  </div>
  <div class="comments">
    <h2>Comments: </h2>

    <%= render 'form' %>

    <%= link_to 'Back', comments_path %>
    <div id="comments"></div>
  </div>
</div>
